<div class="section">
    <div class="container">
        <div class="row top-1">
            <div class="col-md-12">
                <h4 class="title">
                    <small>สมัครเข้าแข่งขันกีฬา</small>
                </h4>

                <div class="row mgt-bottom">
                    <div class="col-md-3">
                        <div class="form-group">
                            <select class="form-control" name="sportType" [(ngModel)]="sportType" (ngModelChange)="changeSportType($event)">
                                <option value="">เลือกประเภทกีฬา</option>
                                <option value="กีฬา">กีฬา</option>
                                <option value="กรีฑา">กรีฑา</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-5"></div>
                    <div class="col-md-4">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="ค้นหา" aria-describedby="basic-addon1" [(ngModel)]="keyword" (ngModelChange)="search($event)">
                            <span class="input-group-addon serach-ic" id="basic-addon1">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="table-responsive-md top">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="text-center">ลำดับ</th>
                                <th width="300">ประเภทการแข่งขัน</th>
                                <th class="text-center" colspan="2">12 ปี</th>
                                <th class="text-center" colspan="2">14 ปี</th>
                                <th class="text-center" colspan="2">16 ปี</th>
                                <th class="text-center" colspan="2">18 ปี</th>
                                <th class="text-center" width="400">หมายเหตุ</th>
                            </tr>
                            <tr>
                                <th class="text-center"></th>
                                <th width="300"></th>
                                <th class="text-right">ชาย</th>
                                <th class="text-center">หญิง</th>
                                <th class="text-right">ชาย</th>
                                <th class="text-center">หญิง</th>
                                <th class="text-right">ชาย</th>
                                <th class="text-center">หญิง</th>
                                <th class="text-right">ชาย</th>
                                <th class="text-center">หญิง</th>
                                <th width="400"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let sport of sports;let i = index">
                                <td class="text-center">{{i+1}}</td>
                                <td width="300">{{sport.name}}</td>
                                <td class="text-left">
                                    <div [className]="sport.properties[0].allowed && sport.properties[0].allowed_men.val ? 'form-check':'form-check disabled'">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" [(ngModel)]="sport.properties[0].allowed_men.uuid" (ngModelChange)="selectSport($event,sport,sport.properties[0].age,'ชาย')"
                                                [disabled]="sport.properties[0].allowed && sport.properties[0].allowed_men.val ? false : true">
                                            <span class="form-check-sign"></span>
                                        </label>
                                    </div>
                                </td>
                                <td class="text-right">
                                    <div [className]="sport.properties[0].allowed && sport.properties[0].allowed_woman.val ? 'form-check':'form-check disabled'">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" [(ngModel)]="sport.properties[0].allowed_woman.uuid" (ngModelChange)="selectSport($event,sport,sport.properties[0].age,'หญิง')"
                                                [disabled]="sport.properties[0].allowed && sport.properties[0].allowed_woman.val ? false : true">
                                            <span class="form-check-sign"></span>
                                        </label>
                                    </div>
                                </td>

                                <td class="text-left">
                                    <div [className]="sport.properties[1].allowed && sport.properties[1].allowed_men.val ? 'form-check':'form-check disabled'">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" [(ngModel)]="sport.properties[1].allowed_men.uuid" (ngModelChange)="selectSport($event,sport,sport.properties[1].age,'ชาย')"
                                                [disabled]="sport.properties[1].allowed && sport.properties[1].allowed_men.val ? false : true">
                                            <span class="form-check-sign"></span>
                                        </label>
                                    </div>
                                </td>
                                <td class="text-right">
                                    <div [className]="sport.properties[1].allowed && sport.properties[1].allowed_woman.val ? 'form-check':'form-check disabled'">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" [(ngModel)]="sport.properties[1].allowed_woman.uuid" (ngModelChange)="selectSport($event,sport,sport.properties[1].age,'หญิง')"
                                                [disabled]="sport.properties[1].allowed && sport.properties[1].allowed_woman.val ? false : true">
                                            <span class="form-check-sign"></span>
                                        </label>
                                    </div>
                                </td>

                                <td class="text-left">
                                    <div [className]="sport.properties[2].allowed && sport.properties[2].allowed_men.val ? 'form-check':'form-check disabled'">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" [(ngModel)]="sport.properties[2].allowed_men.uuid" (ngModelChange)="selectSport($event,sport,sport.properties[2].age,'ชาย')"
                                                [disabled]="sport.properties[2].allowed && sport.properties[2].allowed_men.val ? false : true">
                                            <span class="form-check-sign"></span>
                                        </label>
                                    </div>
                                </td>
                                <td class="text-right">
                                    <div [className]="sport.properties[2].allowed && sport.properties[2].allowed_woman.val ? 'form-check':'form-check disabled'">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" [(ngModel)]="sport.properties[2].allowed_woman.uuid" (ngModelChange)="selectSport($event,sport,sport.properties[2].age,'หญิง')"
                                                [disabled]="sport.properties[2].allowed && sport.properties[2].allowed_woman.val ? false : true">
                                            <span class="form-check-sign"></span>
                                        </label>
                                    </div>
                                </td>

                                <td class="text-left">
                                    <div [className]="sport.properties[3].allowed && sport.properties[3].allowed_men.val ? 'form-check':'form-check disabled'">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" [(ngModel)]="sport.properties[3].allowed_men.uuid" (ngModelChange)="selectSport($event,sport,sport.properties[3].age,'ชาย')"
                                                [disabled]="sport.properties[3].allowed && sport.properties[3].allowed_men.val ? false : true">
                                            <span class="form-check-sign"></span>
                                        </label>
                                    </div>
                                </td>
                                <td class="text-right">
                                    <div [className]="sport.properties[3].allowed && sport.properties[3].allowed_woman.val ? 'form-check':'form-check disabled'">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" [(ngModel)]="sport.properties[3].allowed_woman.uuid" (ngModelChange)="selectSport($event,sport,sport.properties[3].age,'หญิง')"
                                                [disabled]="sport.properties[3].allowed && sport.properties[3].allowed_woman.val ? false : true">
                                            <span class="form-check-sign"></span>
                                        </label>
                                    </div>
                                </td>



                                <td class="text-center">
                                    <span class="text-danger">{{sport.note ? sport.note : '-'}}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row top-1">
            <div class="col-md-12 text-center">
                <button type="button" class="btn btn-info btn-round" (click)="gotoRegsterSport()" [disabled]="selectSports.length <= 0">
                    <i class="fa fa-id-card-o"></i> สมัครเข้าแข่งขัน</button>
            </div>
        </div>
    </div>
</div>