.img-circle {
    background: transparent;
    border-radius: 0% !important;
}

.page-header.page-header-xs {
    min-height: 50vh !important;
}

.citizen-img {
    width: 18rem;
}

.btn-top {
    margin-top: 2rem;
    text-align: center;
}

.register-form .form-control {
    border: 1px solid #c5c5c5 !important;
}

.fm {
    text-align: initial;
}

.txt-red {
    color: red;
}

.calendar-ic {
    padding-top: 0.5rem;
}

.p-img {
    width: 200px;
    height: 200px;
}

.r-top {
    margin-top: 7rem;
}