<div class="section profile-content">
  <div class="container">
    <div class="row r-top">
      <div class="col-md-4"></div>
      <div class="col-md-4 text-center">
        <img [src]="profileImgBase64 ? profileImgBase64 :'../assets/img/user.png'" alt="Circle Image" class="p-img" (click)="uploadImg()">
        <input type="file" #profileImg accept="image/*" [(ngModel)]="profileImgModel" (change)="onProfileImgChange($event)" style="visibility: hidden;">
        <input type="file" #citizenImg accept="image/*" [(ngModel)]="citizenImgModel" (change)="onCitizenImgChange($event)" style="visibility: hidden;">
      </div>
      <div class="col-md-4"></div>
    </div>
    <br>
    <div class="nav-tabs-navigation">
      <div class="nav-tabs-wrapper">
        <ngb-tabset [justify]="'center'">
          <ngb-tab title="ข้อมูลพื้นฐาน">
            <ng-template ngbTabContent>
              <div class="row following" id="follows">
                <div class="col-md-6 ml-auto mr-auto">
                  <form class="register-form fm">
                    <div class="form-group">
                      <label>ประเภทข้อมูลบุคคล
                        <span class="txt-red"> *</span>
                      </label>
                      <select class="form-control" name="role" [(ngModel)]="data.role">
                        <option value="unactive">ประเภทบุคคล</option>
                        <option value="student">นักกีฬา กรีฑา</option>
                        <option value="staff">เจ้าหน้าที่</option>
                        <option value="coach">โค้ช</option>
                        <option value="teacher">ผู้ฝีกสอน</option>
                        <option value="news">สื่อมวลชน</option>
                      </select>
                    </div>

                    <span *ngIf="data.role !== 'unactive'">
                      <label>ชื่อ - นามสกุล
                        <span class="txt-red"> *</span>
                      </label>
                      <input type="text" name="name" class="form-control" [(ngModel)]="data.name" placeholder="ชื่อ - นามสกุล">
                      <br>
                      <label>รหัสผ่าน
                        <span class="txt-red"> *</span>
                      </label>
                      <input type="password" name="password" class="form-control" [(ngModel)]="data.password" placeholder="รหัสผ่าน">
                      <br>
                      <span *ngIf="data.role !== 'student'">
                        <label>เบอร์โทรศัพท์
                          <span class="txt-red"> *</span>
                        </label>
                        <input type="text" name="tel" class="form-control" [(ngModel)]="data.tel" placeholder="เบอร์โทรศัพท์">
                        <br>
                      </span>
                      <div class="form-group">
                        <label>จังหวัด
                          <span class="txt-red"> *</span>
                        </label>
                        <select class="form-control" name="province" [(ngModel)]="data.province" (ngModelChange)="filterProvince($event)">
                          <option value="">เลือกจังหวัด</option>
                          <option value="{{province}}" *ngFor="let province of provinces">{{province}}</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label>อปท.</label>
                        <select class="form-control" name="district" [(ngModel)]="data.district" [disabled]="!data.province">
                          <option value="">เลือก อปท.</option>
                          <option value="{{item}}" *ngFor="let item of opt">{{item}}</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label>เพศ
                          <span class="txt-red"> *</span>
                        </label>
                        <select class="form-control" name="gender" [(ngModel)]="data.gender">
                          <option value="unselect">เลือกเพศ</option>
                          <option value="ชาย">ชาย</option>
                          <option value="หญิง">หญิง</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label>วัน-เดือน-ปีเกิด
                          <span class="txt-red"> *</span>
                        </label>
                        <div class="input-group date">
                          <input class="form-control" [(ngModel)]="data.birthday" (ngModelChange)="calAge($event)" placeholder="yyyy-mm-dd" name="dp"
                            ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()">
                          <span class="input-group-addon calendar-ic">
                            <span class="glyphicon glyphicon-calendar">
                              <i class="fa fa-calendar" aria-hidden="true"></i>
                            </span>
                          </span>
                        </div>
                      </div>

                      <label class="mgt">อายุ (ปี)
                        <span class="txt-red"> *</span>
                      </label>
                      <input type="text" name="age" class="form-control" placeholder="21" [(ngModel)]="data.age" [disabled]="true">
                      <br>
                      <span *ngIf="data.role == 'student'">
                        <label class="mgt">น้ำหนัก (กิโลกรัม)
                          <span class="txt-red"> *</span>
                        </label>
                        <input type="text" name="weigth" class="form-control" [(ngModel)]="data.weight" placeholder="น้ำหนัก">
                        <br>
                        <label class="mgt">ส่วนสูง (เซนติเมตร)
                          <span class="txt-red"> *</span>
                        </label>
                        <input type="text" name="height" class="form-control" [(ngModel)]="data.height" placeholder="ส่วนสูง">
                      </span>

                      <div class="btn-top" *ngIf="data.role == 'student'">
                        <button type="button" class="btn btn-danger btn-round" (click)="save()" [disabled]="!(data.name && data.province && data.district && data.gender !== 'unselect' && data.birthday && data.age && data.weight && data.height)">
                          <i class="fa fa-check"></i> บันทึกข้อมูล</button>
                      </div>

                      <div class="btn-top" *ngIf="data.role !== 'student'">
                        <button type="button" class="btn btn-danger btn-round" (click)="save()" [disabled]="!(data.name && data.province && data.district && data.gender !== 'unselect' && data.birthday && data.age && data.tel)">
                          <i class="fa fa-check"></i> บันทึกข้อมูล</button>
                      </div>
                    </span>
                  </form>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="ภาพถ่ายบัตรประชาชน">
            <ng-template ngbTabContent>
              <img [src]="citizenImgBase64 ? citizenImgBase64 :'../assets/img/citizen.jpg'" alt="img" class="citizen-img">
              <div class="btn-top">
                <button type="button" class="btn btn-danger btn-round" (click)="uploadCitizenImg()">
                  <i class="fa fa-upload"></i> อัพโหลดรูปบัตรประชาชน</button>
              </div>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
    </div>
  </div>
</div>