<div class="section profile-content">
  <div class="container">
    <div class="row r-top">
      <div class="col-md-4"></div>
      <div class="col-md-4 text-center">
        <img src="../assets/img/user.png" alt="Circle Image" class="p-img" (click)="uploadImg()">
        <input type="file" #profileImg accept="image/*" [(ngModel)]="profileImgModel" (change)="onProfileImgChange($event)" style="visibility: hidden;">
      </div>
      <div class="col-md-4"></div>
    </div>
    <br>
    <div class="nav-tabs-navigation">
      <div class="nav-tabs-wrapper">
        <ngb-tabset [justify]="'center'">
          <ngb-tab title="ข้อมูลพื้นฐาน">
            <ng-template ngbTabContent>
              <div class="row following" id="follows">
                <div class="col-md-6 ml-auto mr-auto">
                  <form class="register-form fm">
                    <div class="form-group">
                      <label>ประเภทข้อมูลบุคคล
                        <span class="txt-red"> *</span>
                      </label>
                      <select class="form-control" name="gender" [(ngModel)]="data.peopleType">
                        <option value="">ประเภทบุคคล</option>
                        <option value="นักกีฬา กรีฑา">นักกีฬา กรีฑา</option>
                        <option value="เจ้าหน้าที่">เจ้าหน้าที่</option>
                        <option value="โค้ช">โค้ช</option>
                        <option value="ผู้ฝีกสอน">ผู้ฝีกสอน</option>
                        <option value="สื่อมวลชน">สื่อมวลชน</option>
                      </select>
                    </div>

                    <span *ngIf="data.peopleType">
                      <label>ชื่อ - นามสกุล
                        <span class="txt-red"> *</span>
                      </label>
                      <input type="text" name="name" class="form-control" [(ngModel)]="data.name" placeholder="ชื่อ - นามสกุล">
                      <br>
                      <span *ngIf="data.peopleType !== 'นักกีฬา กรีฑา'">
                        <label>เบอร์โทรศัพท์
                          <span class="txt-red"> *</span>
                        </label>
                        <input type="text" name="tel" class="form-control" [(ngModel)]="data.tel" placeholder="เบอร์โทรศัพท์">
                        <br>
                      </span>
                      <div class="form-group">
                        <label>จังหวัด
                          <span class="txt-red"> *</span>
                        </label>
                        <select class="form-control" name="province" [(ngModel)]="data.province" (ngModelChange)="filterProvince($event)">
                          <option value="">เลือกจังหวัด</option>
                          <option value="{{province}}" *ngFor="let province of provinces">{{province}}</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label>เพศ
                          <span class="txt-red"> *</span>
                        </label>
                        <select class="form-control" name="gender" [(ngModel)]="data.gender">
                          <option value="">เลือกเพศ</option>
                          <option value="ชาย">ชาย</option>
                          <option value="หญิง">หญิง</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label>วัน-เดือน-ปีเกิด
                          <span class="txt-red"> *</span>
                        </label>
                        <div class="input-group date">
                          <input class="form-control" [(ngModel)]="data.birthday" (ngModelChange)="calAge($event)" placeholder="yyyy-mm-dd" name="dp"
                            ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()">
                          <span class="input-group-addon calendar-ic">
                            <span class="glyphicon glyphicon-calendar">
                              <i class="fa fa-calendar" aria-hidden="true"></i>
                            </span>
                          </span>
                        </div>
                      </div>

                      <label class="mgt">อายุ (ปี)
                        <span class="txt-red"> *</span>
                      </label>
                      <input type="text" name="age" class="form-control" placeholder="21" [(ngModel)]="data.age" [disabled]="true">
                      <br>
                      <span *ngIf="data.peopleType == 'นักกีฬา กรีฑา'">
                        <label class="mgt">น้ำหนัก (กิโลกรัม)
                          <span class="txt-red"> *</span>
                        </label>
                        <input type="text" name="weigth" class="form-control" [(ngModel)]="data.weight" placeholder="น้ำหนัก">
                        <br>
                        <label class="mgt">ส่วนสูง (เซนติเมตร)
                          <span class="txt-red"> *</span>
                        </label>
                        <input type="text" name="height" class="form-control" [(ngModel)]="data.height" placeholder="ส่วนสูง">
                      </span>

                      <div class="btn-top">
                        <button type="button" class="btn btn-danger btn-round" (click)="save()" [disabled]="!(data.name && data.province && data.gender && data.birthday && (data.age == 12 || data.age == 14 || data.age == 16 || data.age == 18) && data.weight && data.height)">
                          <i class="fa fa-check"></i> สมัครเข้าแข่งขัน</button>
                      </div>
                    </span>
                  </form>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="ภาพถ่ายบัตรประชาชน">
            <ng-template ngbTabContent>
              <img src="../../assets/img/citizen.jpg" alt="img" class="citizen-img">
              <div class="btn-top">
                <button type="button" class="btn btn-danger btn-round">
                  <i class="fa fa-upload"></i> อัพโหลดรูปบัตรประชาชน</button>
              </div>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
    </div>
  </div>
</div>