<div class="wrapper">
  <div class="page-header" style="background-image: url('../assets/img/bg-2.jpg');">
    <div class="filter"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
          <div class="card card-register">
            <h3 class="title">ลงทะเบียน</h3>
            <form class="register-form">
              <label>ชื่อ - นามสกุล</label>
              <input type="text" name="name" class="form-control" [(ngModel)]="data.name" placeholder="ชื่อ - นามสกุล">

              <label>อีเมล</label>
              <input type="email" name="email" class="form-control" [(ngModel)]="data.email" placeholder="อีเมล">

              <label>รหัสผ่าน</label>
              <input type="password" name="password" class="form-control" [(ngModel)]="data.password" placeholder="รหัสผ่าน">

              <div class="form-group">
                <label>จังหวัด</label>
                <select class="form-control" name="province" [(ngModel)]="data.province" (ngModelChange)="filterProvince($event)">
                  <option value="">เลือกจังหวัด</option>
                  <option value="{{province}}" *ngFor="let province of provinces">{{province}}</option>
                </select>
              </div>

              <div class="form-group">
                <label>อปท.</label>
                <select class="form-control" name="district" [(ngModel)]="data.district" [disabled]="!data.province">
                  <option value="">เลือก อปท.</option>
                  <option value="{{item}}" *ngFor="let item of opt">{{item}}</option>
                </select>
              </div>


              <button class="btn btn-danger btn-block btn-round" [disabled]="!(data.name && data.email && data.password && data.province && data.district)"
                (click)="register()">ลงทะเบียน</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>