.card-register {
    background-color: #757575;
}

.card-register .title {
    color: #f5593d;
}

.card-register .title {
    color: #ffffff;
}

.btn-danger.disabled,
.btn-danger:disabled {
    background-color: #f5593d;
    border-color: #f5593d;
}